.login-container {
  margin: auto;
  text-align: center;
  width: 30rem;
}

.login-container input {
  display: block;
  box-sizing: border-box;
  padding: 0.5rem;
  margin: auto;
  margin-bottom: 1rem;
  border: 1px solid var(--light-grey);
  border-radius: 0.3rem;
  width: 15rem;
}

.login-container .dark-btn {
  display: block;
  width: 15rem;
  margin: auto;
  margin-bottom: 1rem;
}

.dark-btn {
  background-color: var(--black);
  color: var(--white);
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-weight: bold;
}

.login-container a {
  text-decoration: none;
  color: var(--blue);
}

.login-container .password {
  display: inline-block;
}

.show-btn {
  display: inline-block;
  border: none;
  background-color: var(--white);
  position: absolute;
}

/* Styles for tablets (portrait) and up */
@media (max-width: 1200px) {
}

/* Styles for mobile devices */
@media (max-width: 880px) {
    .login-container{
        width: 20rem;
    }
}
