.follower-list{
    border: 1px solid var(--black);
    padding: .5rem;
    position: absolute;
    background-color: var(--white);
    box-shadow: 0 3px 10px var(--black);
    z-index: 2;
    min-width: 10rem;
}

.follower-list .container-1-1{
    font-size: smaller;
    margin: 1rem;
}