.post-card{
    border:1px solid;
    padding: .5rem;
}

.post-card .container-1{
    display: flex;
    justify-content: space-between;
}

.post-card a{
    color: black;
    text-decoration: none;
}

.post-card .post-img{
    width: 80%;
    max-height: 30rem;
    margin: auto;
}

.comment{
    border: 1px solid;
    padding:.3rem;
    margin-bottom: .5rem;
}

.post-card .container-2{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.post-card .dot-icon:hover, .post-card .options-box div:hover{
    cursor: pointer;
}

.post-card .options-box{
    position: absolute;
    right: 0;
    top: 2rem;
    background-color: white;
    padding: 1rem;
    box-shadow: 5px 5px 10px grey, -5px -5px 10px darkgrey;
}

.post-card .profile-pic{
    margin-right: .5rem;
    position: relative;
    top:.5rem;
}

.post-card .profile:hover{
    cursor: pointer;
}