.post-card{
    padding: .5rem;
}

.post-card .container-1{
    display: flex;
    justify-content: space-between;
    font-size: large
}

.post-card a{
    color: black;
    text-decoration: none;
}

.post-card .post-img{
    width: 80%;
    max-height: 30rem;
    margin: 1rem auto;
    display: block;
    border-radius: .5rem;
}

.comment{
    border: 1px solid var(--light-grey);
    padding:.3rem;
}

.post-card .container-2{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.post-card .dot-icon:hover, .post-card .options-box div:hover{
    cursor: pointer;
}

.post-card .options-box{
    position: absolute;
    top: 1.5rem;
    right:1.5rem;
    background-color: var(--white);
    padding: 1rem;
    box-shadow: 0 3px 10px var(--black);
    width: 7rem;
    border-radius: .5rem;
    z-index: 1;
}

.post-card .option{
    padding-bottom: .5rem;
}

.post-card .profile-pic{
    position: relative;
    top:.2rem;
}

.post-card .profile{
    width: 20rem;
}

.post-card .profile:hover{
    cursor: pointer;
}

.post-card .icon{
    position: relative;
    top: .15rem;
    margin-right: .2rem;
}
