.post{
    width:40%;
    margin-left: 10rem;
}

/* Styles for tablets (portrait) and up */
@media (max-width: 1200px) {
    .post{
        margin: 0;
        width: 60%;
        margin-right: 10rem;
    }
}

/* Styles for mobile devices */
@media (max-width: 880px) {
    .post{
        width: 95%;
        margin:0 .5rem;
    }
}
