.edit-box{
    position: fixed;
    z-index: 2;
    background-color: var(--white);
    box-shadow: 0 3px 10px var(--black);
    border-radius: .5rem;
    padding: 1rem .5rem;
    top: 10%;
    right: 40%;
}

#upload-btn{
    margin-left: 1rem;
}

.edit-box h2{
    text-align: left;
    margin: 0;
}



.edit-box .content{
    display: inline-block;
    width: 100%;
    height: max-content;
    border: none;
}

.edit-box img{
    display: inline-block;
    width: 20rem;
    height: 20rem;
    border: none;
    margin-top: 1rem;
    display: block;
}

.edit-box .buttons .dark-btn{
    background-color: var(--black);
}

.edit-box .buttons{
    display: flex;
    justify-content: space-between;
}