.profile-pic{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.search{
    width: 30%;
}
.search-section{
    position: fixed;
    top: 0;
    padding-top: 1rem;
}

.search-section .user{
    width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;

}

.search-section .username{
    width: 7rem
}

.search-section .container-1{
    display: flex;
    gap:1rem
}

.search-section input{
    background-color: var(--greyBg);
    border: none;
    padding: .5rem 2rem;
    width: 80%;
    border-radius: 2rem;

}

.search-icon{
    position: relative;
    left: .8rem;
    top: 1.7rem;
    color: #757579;
}

.suggested-users{
    background-color: var(--greyBg);
    padding: 1rem;
    margin-top: 2rem ;
    border-radius: 2rem;
}

.suggested-users{
    background-color: var(--greyBg);
    padding: 1rem;
    margin-top: 2rem ;
    border-radius: 2rem;
}


a{
    color: var(--black);
    text-decoration: none;
}
