:root {
  --light-grey: #dae2e6;
  --black: #0f1419;
  --white:#fefefe;
  --blue: rgb(29, 155, 240)
}

.main-layout{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
}

.App{
  font-family: 'Inter', sans-serif;
  background-color: var(--white);
}